body{
    background-image: url('gallery/back3.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;  
    background-attachment: fixed; 
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center; /* vertical */
    align-items: center;
}

::selection {
    background-color: #1e263b; /* Цвет фона выделения */
    color: #ffffff; /* Цвет самого текста при выделении */
}

p{
    margin: 0;
    text-align: center;
}
input{
    width: 350px;
    height: 3.3vh;
    background: transparent;
    border: 1px solid white;
    color:white;
    font-size: clamp(20px, 3vh, 50px); 
    text-align: center;
    outline:none;
}
.container{
    display: flex;
    position: absolute;
    top: 45vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(10px, 2.5vh, 40px); 
    z-index: 9999;
}

.keyboard{
    padding: 7vh 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 76vw;
}
.hidden {
            display: none !important;
        }
.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.key {
    flex: 1;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    color: white;
    touch-action: manipulation;
    
    backdrop-filter: blur(18px);
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.1s ease;
    box-shadow: 0 4px 30px rgba(62, 68, 90, 0.212);
}
.key:active {
    background: rgba(255, 255, 255, 0.411);
}



.emojies {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top:28vh;
    z-index: 1999;

}
@keyframes swingLeftHand {
    0%, 100% { transform: rotate(-5deg) translateY(-1px); }
    50%      { transform: rotate(4deg) translateY(1px); }
}
@keyframes swingRightHand {
    0%, 100% {transform: rotate(5deg) translateY(1px);}
    50%      { transform: rotate(-4deg) translateY(-1px); }
}
@keyframes catAnim {
    0%, 20%, 40%, 100% {transform: rotate(5deg) translateY(1px);}
    10%, 30%, 50% {transform: rotate(-5deg) translateY(-1px);}
    65% {transform: rotate(4deg) translateY(0);}


    73% {transform: rotate(0deg) translateY(30px);}
    83% {transform: rotate(-2deg) translateY(-55px);}
    90% {transform: rotate(2deg) translateY(20px)}
}


.invisible{
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    flex-direction: column;
    
    z-index: 3999;
    cursor: pointer;

}
.texthint {
    display: flex;
    position: absolute; 
    align-items: center;
    width: 100vw;
    flex-direction: column;
    z-index: 3999;
    cursor: pointer;
    
    animation: typing 5s steps(20) infinite, blink .6s infinite,
}
#invisiblepass{
    color: rgba(20, 28, 65, 0.432); 
    font-size: clamp(8px, 4.2vh, 35px); 
    width: 100vw;
    position: absolute; 
    top: 20.2vh;
}
#invisiblehint{
    font-size: clamp(2vw, 3vh, 60px); 
    color: rgb(235, 226, 207);
    width: 95vw;
}


.tggifts {
    display: flex;
    position: absolute;
    flex-direction: column;
    
    z-index: 3;
    top: -35vh;
}
.gifts, .descriptions{
    position: relative;
    display: flex;
    align-items: center;
}

.empty{
    width: 18vw;
    height: 200px;
    margin: 5px;
}
.drag {
    position: absolute;
    z-index: 1;
    width: 18vw; 
    max-width: 194px; 
    max-height: 20vw;
    object-fit: cover;
}   
.currentdrag {
    z-index: 1000;
    width: 25vw;
}
.active {
    background-color: rgba(33, 33, 100, 0.199);
}


.map{
    flex-direction: column;
    align-items: center;
    position: relative; 
    top:-63vh; 
}
.map p{
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent; 
    width: 0;
    
}

.map .line-1 {
    animation: typing 2.5s ease-in-out forwards,
               blink 2.5s linear 1;    
}               
.map .line-2{
    animation: typing 3.2s ease-in-out forwards 2.6s,
               blink 3.2s linear 1 2.9s;
}               
.link{
    opacity: 0;
    animation: fade-in 1s 6.9s forwards;
}

@keyframes typing{
    from { width: 0;}
    to {width: 100%;}
}
@keyframes blink{
    0%, 100% {border-right-color: rgb(238, 234, 234);}
}
@keyframes fade-in{
    to {
        opacity:1;
    }
}


.hint{
    width: 100vw;
}
#light{    
    font-size: clamp(8px, 3vh, 50px); 
}


.qr {
    display: flex;
    position: absolute;
    z-index: 9999;
    top: -35vh;
}
#lefthand, #imbulkacat, #righthand{
    justify-content: center;
    margin: 0.5%;
}


.shake {
    animation: shakeAnim 0.4s ease-in-out;
}
@keyframes shakeAnim {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-10px); }
    40%, 80% { transform: translateX(10px); }
}


#lefthand {
    animation: swingLeftHand 4s ease-in-out infinite; 
    animation-delay: -0.3s;
}
#righthand{
    animation: swingRightHand 4s ease-in-out infinite;
}
#imbulkacat{
    animation: catAnim 10s ease-in-out infinite;
}


.wheel-widget {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #1e263b7a;
    flex-direction: column;
    position: absolute;

    width: 100vw;
    top: -20vh;
    z-index: 1000000000;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 67px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.2s;
    line-height: 1;
    user-select: none;
}
.close-btn:hover{
    color:#333;
}

.wheel-container {
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.pointer {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #b14496;
    z-index: 10;
    position: absolute;
}

canvas {
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background: white;
    border-radius: 50%;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #6c78ac98;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background 0.2s;
    padding: 12px 35px;
}
button:hover {
    background-color: #33343838;
}
button:disabled {
    background-color: #ced6e0;
    cursor: not-allowed;
}
#result {
    display: flex;
    position: fixed;
    
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #e7e4d8;
    background-color: #757373c7;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    /* Создаем плавный переход от видимого центра к размытым/прозрачным краям */
    mask-image: radial-gradient(ellipse at center, black 100%, transparent 80%);
    -webkit-mask-image: radial-gradient(ellipse at center, black 10%, transparent 80%);
  
    height: 106px;
    min-width: 65vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}
